<ion-header>
  <ion-toolbar>
    <ion-title>Monitoramento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="white">
  <ul>
    <li
      *ngFor="let pet of pets; let i = index"
      [class.expanded]="expandedPet === i"
    >
      <div class="thumb-image ion-activatable" (click)="expandedPet = i">
        <img [src]="pet.foto" alt="" />
        <span>{{ pet.nome }}</span>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="pet-detail">
        <ion-button (click)="null" color="primary" expand="full"
          >Informações</ion-button
        >
        <ion-list>
          <ion-item *ngIf="pet.favoritos.length > 0">
            <ion-label>Ração Favorita: {{ racoes[pet.favoritos[pet.favoritos.length - 1].racao].nome }}</ion-label>
            <ion-note slot="end" color="primary"
              ><ion-icon name="heart" style="font-size: 25px"></ion-icon
            ></ion-note>
          </ion-item>
          <ion-item>
            <ion-label>{{ pet.nome }}</ion-label>
            <ion-note slot="end" color="primary">Nome</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>{{ pet.aniversario }}</ion-label>
            <ion-note slot="end" color="primary">Nascimento</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>{{ pet.peso }}kg</ion-label>
            <ion-note slot="end" color="primary">Peso</ion-note>
          </ion-item>
        </ion-list>
      </div>
    </li>
  </ul>
</ion-content>
