<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="fixed">
      <ion-icon color="primary" name="person"></ion-icon>
    </ion-label>
    <ion-input formControlName="identifier" placeholder="E-mail ou usuário" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">
      <ion-icon color="primary" name="lock"></ion-icon>
    </ion-label>
    <ion-input type="password" placeholder="Senha" formControlName="password" required></ion-input>
  </ion-item>
</form>

<div>
  <ion-button [disabled]="form.invalid || loading" expand="block" (click)="onSubmit()">Acessar</ion-button>
</div>
