<ion-content class="white">
  <div class="content">
    <div class="logo">
      <img src="assets/images/full-logo.png" alt="" />
    </div>
    <div class="background">
      <img src="assets/images/background.gif" alt="" />
      <div class="overlay"></div>
    </div>
    <div class="home-buttons">
      <ion-button
        expand="block"
        color="primary"
        fill="outline"
        routerLink="/register"
        routerDirection="foward"
        >Crie uma conta</ion-button
      >
      <ion-button
        expand="block"
        color="light"
        fill="outline"
        routerLink="/login"
        routerDirection="foward"
        >Fazer login</ion-button
      >
    </div>
  </div>
</ion-content>
