.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;

  img {
    width: 250px;
    height: auto;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba($color: #000000, $alpha: 0.4);
  }
}

.home-buttons {
  bottom: 0;
  width: 100%;
  z-index: 999;
  position: absolute;
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;

  ion-button + ion-button {
    margin-top: 1em;
  }
}
