<div class="content">
  <ion-infinite-scroll scrollY="true" style="flex: 1 0 0;">
    <ion-list>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="nome" required></ion-input>
          <span
            class="mt-2 danger"
            *ngIf="submitted && form.controls.nome.errors"
          >
            Nome é obrigatório !
          </span>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sobrenome</ion-label>
          <ion-input formControlName="sobrenome" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" required></ion-input>
          <span
            class="mt-2 danger"
            *ngIf="submitted && form.controls.username.errors"
          >
            Username é obrigatório !
          </span>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email" required></ion-input>
          <span
            class="mt-2 danger"
            *ngIf="submitted && form.controls.email.errors"
          >
            Email é obrigatório !
          </span>
          <span
            class="mt-2 danger"
            *ngIf="submitted && form.controls.email.errors.email"
          >
            Email inválido !
          </span>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            required
          ></ion-input>
          <span
            class="mt-2 danger"
            *ngIf="submitted && form.controls.password.errors"
          >
            Senha é obrigatóriaa !
          </span>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar senha</ion-label>
          <ion-input
            type="password"
            formControlName="confirmPassword"
            required
          ></ion-input>
        </ion-item>
        <span
          class="mt-2 danger"
          *ngIf="submitted && form.controls.confirmPassword.errors"
        >
          Confirmar senha é obrigatório !
        </span>
        <span class="mt-2 danger" *ngIf="submitted && form.errors?.invalid">
          Senhas não coincidem !
        </span>
      </form>
    </ion-list>
  </ion-infinite-scroll>

  <div>
    <ion-button expand="block" (click)="onSubmit()">Acessar</ion-button>
  </div>
</div>
