<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="hide()">
        <ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>{{ pet.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img class="pet-foto" [src]="url + pet.foto.url" />
    <ion-card-header>
      <ion-card-subtitle>{{ pet.raca }}</ion-card-subtitle>
      <ion-card-title>{{ pet.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>Peso: </strong>{{ pet.peso }} kg <br />
      <strong>Aniversário: </strong>
      {{ pet.aniversario | date: "dd/MM/yyyy" }}
    </ion-card-content>
  </ion-card>

  <ion-card padding [class.no-shadow]="!racao && !intervalo">
    <ion-grid style="margin-bottom: 1em;" *ngIf="racao && intervalo">
      <ion-row>
        <ion-col size="6">
          <div class="feed-brand">
            <ion-icon name="pizza"></ion-icon>
            <span>{{ racao.name }}</span>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="feed-interval">
            <ion-icon name="alarm"></ion-icon>
            <span>A cada {{ intervalo }} horas</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button *ngIf="racoes.length > 0" class="custom" expand="block" (click)="openPicker()">Escolher ração e intervalo</ion-button>
  </ion-card>

  <div class="button-alignment">
    <ion-button class="custom" expand="block" (click)="start('prod')">Começar agora</ion-button>
    <ion-button class="custom" expand="block" *ngIf="isDev" (click)="start('dev')">TESTE</ion-button>
  </div>
</ion-content>
